@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
      @apply font-OpenSans text-xl bg-custom-white text-custom-black dark:bg-custom-black dark:text-custom-white
      
  }
  h1 {
      @apply text-7xl
  }
  h2 {
      @apply text-5xl
  }
}

@layer components {
  .btn {
      @apply border-2 border-custom-dark-pink rounded-sm
      font-Inconsolata text-custom-dark-pink
      px-12 py-3
      hover:text-custom-white hover:border-custom-white hover:bg-gradient-to-r hover:from-[#dd7f7a] hover:via-[#b466a7] hover:to-[#006cc1]
      transition-all duration-200
      dark:hover:text-custom-black dark:hover:border-custom-black
  }
}

@layer utilities {
  .headlineText {
      @apply font-Inconsolata text-custom-dark-pink text-5xl
  }
  .pinkBorder {
      @apply border-2 border-custom-dark-pink rounded-sm
  }
  .accentText {
      @apply font-Inconsolata text-custom-dark-pink
  }
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/